*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
main {
    max-width: 1100px;
    margin: 2em auto;
   padding: 0 0.5em;
}
h1{
    font-size:2.2em;
    color: #1D4E3A;
    text-align: center;
}
 h2{
    font-size: 1.8em;
    color: #1D4E3A;
    margin-bottom: 1em;
}
 h3{
    font-size: 1.4em;
    color: #1D4E3A;
    margin-bottom: 0.5em;
}
p{
    line-height: 1.6;
    margin-bottom: 1.2em;
}
li{
    line-height: 1.6;
    margin-bottom: 1.2em;
    margin-left:1.2em ;
    color: #1D4E3A;
}
body{
    background-color: #F9F8F6;
    font-family: Arial, sans-serif;
    font-size: 1em;
    color: #333;
}
header{
    background-color: #1D4E3A;
    padding: 2em 1em;
    text-align: center;
}
header h1 {
    color: #FFFFFF;
    margin-bottom: 1em;
    font-size: 2.2em;
}
header a {
    color: #F9F8F6;
    text-decoration: none;
    margin: 0 12px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.15);
}
header a:hover {
   background-color: #A3D9C9; /*[cite: 10] */
    color: #1D4E3A; 
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 0.8em;
}
table{
    width: 100%;
    font-family: Arial, sans-serif;
    margin-bottom: 0.8em;
}
 th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 12px; 
        }
th{
    background-color:#A3D9C9;
    color: #333;
}
.links{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap
}
.descricao
{
    color: #E2F0D9;
    max-width: 700px;
    margin: 0 auto 1.5em auto;
}
.cardRestaurante, .cardPratos, .cardPontoTuristico, .cardEventos{
    padding: 1.5em;          
    margin-bottom: 2em;      
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.cardRestaurante img, .cardPratos img, .cardPontoTuristico img, .cardEventos img{
    margin: 1em;
    display: block; 
    max-width: 350px; 
    width: 100%; 
    height: auto; 
    border-radius: 8px;
}
.conteudo-principal {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; 
}

.coluna {
    flex: 1;
    min-width: 280px;
    background-color: #FFFFFF;
    padding: 1.5em;
    border-radius: 8px;
}



